
<!DOCTYPE html>
<html>
  <head>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BRUNO - <%= beer.name %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
  </head>
  <body class="mb-5">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="/">BRUNO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/beers">Beers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recipes">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/brews">Brews</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="#">Future Login Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Future Login Link</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <!-- New nav tabs -->
      <div class="row mb-2">
        <div class="col-md-12 px-2 px-md-0">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" href="/beers/<%= beer.id %>/recipes/<%= recipe.id %>">Recipe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/beers/<%= beer.id %>/recipes/<%= recipe.id %>/brews">Brews</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Recipe Info -->
      <div class="row">
        <div class="col-md-12 px-2 px-md-0">

          <!-- Recipe Overview & Targets -->
          <div class="card mb-2">
            <div class="card-body">
              <!-- Save and Edit buttons should just show one or the other -->
              <div class="float-right">
                <a class="btn btn-sm btn-outline-warning" role="button" onclick="toggler('note-item-1');">Edit</a>
              </div>
              <!-- Beer Details -->
              <h3 class="d-inline-block mb-0"><%= beer.name %></h3><span class="pl-1"><%= beer.style %></span>
              <p class="text-lite italic">
                Version <%= recipe.version %>
              </p>
              <!-- Brews -->
              <% if (recipeBrews.length > 0) { %>
                <table class="text-lite table table-sm">
                  <thead>
                    <tr>
                      <th class="recipe-label text-center" scope="col">Brew Date</th>
                      <th class="recipe-label text-center" scope="col"></th>
                      <th class="recipe-label text-center" scope="col"></th>
                      <th class="recipe-label text-center" scope="col"></th>
                      <th class="recipe-label text-center" scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (let brew of recipeBrews) { %>
                      <tr class="text-center">
                        <td><%= brew.brewDate %></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a href="/beers/<%= beer.id %>/recipes/<%= recipe.id %>/brews/<%= brew.id %>" class="btn btn-sm btn-outline-dark mb-2 float-right" role="button"><i class="far fa-eye"></i></a></td>
                      </tr>
                    <% } %>          
                  </tbody>
                </table>
                <% } else { %>
                <p class="text-lite">This beer hasn't been brewed yet.</p>
                <% } %>
              
            </div>
          </div>
        </div>
      </div>
    </div>



        
    

  
    <!-- jQuery CDN -->
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

  <!-- Bootstrap and its dependencies -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  <!-- Custom JS & jQuery for recipe form-->
  <!-- <script src="/js/forms.js" type="text/javascript"></script> -->
  <script src="/js/script.js" type="text/javascript"></script>
  
  </body>
</html>