<%- include('../partials/header') -%>
    <form action="/beers/<%= beer._id %>/recipes/<%= recipe._id %>?_method=PUT" method="POST">
      <div class="row">
        <div class="col-md-12 px-2 px-md-0">
          <div class="d-flex justify-content-between flex-title-row mb-1">
            <div>
              <h3 class="d-inline-block mb-0">
                <%= beer.name %>
              </h3>
              <span class="pl-0 d-block pl-md-1 d-md-inline"><%= beer.style %></span>
              <span class="d-block text-lite italic">Version <%= recipe.version %>, created <%= recipe.created.toLocaleDateString() %></span>
            </div>
            <div class="d-flex">
              <button class="btn btn-sm btn-outline-success mx-1">Save</button>
              <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteRecipeModal">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12 px-2 px-md-0">
            
            <!-- Target Batch Size, OG, FG, ABV-->
            <div id="target-container" class="card mb-2">
              <div class="card-body">
                <i id="pin-targets" class="fas fa-thumbtack d-none"></i>
                <div class="form-row">
                  <div class="col-3 text-center">
                    <span id="target-display-batchSize" class="d-block display-4"><%= recipe.batchSize %></span>
                    <span class="d-block text-lite">Litres</span>
                  </div>
                  <div class="col-3 text-center">
                    <input id="expectedOriginalGravityInput" class="d-none" type="number" step="0.001" name="expectedOriginalGravity" aria-hidden="true" value="<%= recipe.expectedOriginalGravity %>">
                    <span id="expectedOriginalGravityDisplay" class="d-block display-4" aria-label="Expected Original Gravity"><%= recipe.expectedOriginalGravity %></span>
                    <span class="d-block text-lite">OG</span>
                  </div>
                  <div class="col-3 text-center">
                    <input id="expectedFinalGravityInput" class="d-none" type="number" step="0.001" name="expectedFinalGravity" aria-hidden="true" value="<%= recipe.expectedFinalGravity %>">
                    <span id="expectedFinalGravityDisplay" class="d-block display-4" aria-label="Expected Final Gravity"><%= recipe.expectedFinalGravity %></span>
                    <span class="d-block text-lite">FG</span>
                  </div>
                  <div class="col-3 text-center">
                    <input id="expectedABVInput" class="d-none" type="number" step="0.1" name="expectedABV" aria-hidden="true" value="<%= recipe.expectedABV %>"> 
                    <span id="expectedABVDisplay" class="d-block display-4" aria-label="Expected ABV"><%= recipe.expectedABV %></span>
                    <span class="d-block text-lite">% ABV</span>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- General -->
            <div class="card mb-2">
              <div class="card-body">
                <h4>General</h4>
                <div class="form-row my-2">
                  <div class="col">
                    <label for="brewDesc" class="recipe-label">Description</label>
                    <textarea id="brewDesc" class="form-control form-control-sm bottom-border" name="description" rows="3"><%= recipe.description %></textarea>
                  </div>
                </div>
                <div id="notes-table-container">
                  <table id="notes-table" class="table table-sm mb-1">
                    <thead>
                      <tr>
                        <th class="recipe-label" scope="col">Important Notes</th>
                        <th class="border-0 col-add-del-btn" scope="col">
                          <a class="btn btn-sm btn-outline-dark my-1 add-notes" role="button"><i class="fas fa-plus fa-sm"></i></a>
                        </th>
                      </tr>                  
                    </thead>
                    <tbody id="notes-list">
                      <% if(recipe.recipeNotes.length > 0) { %> 
                        <% for(let i = 0; i < recipe.recipeNotes.length; i++) { %> 
                          <tr class="notes-row">
                            <td>
                              <label class="sr-only" for="recipeNotes[<%= i %>]">Note Content</label>
                              <textarea id="recipeNotes[<%= i %>]" class="form-control form-control-sm border-0" name="recipeNotes[<%= i %>]" rows="2"><%= recipe.recipeNotes[i] %></textarea>
                            </td>
                            <td class="border-0">
                              <a class="btn btn-sm btn-outline-dark my-1 delete-notes" role="button"><i class="far fa-trash-alt"></i></a>
                            </td>
                          </tr>
                        <% } %> 
                      <% } %> 
                    </tbody>                     
                  </table>
                </div>
              </div>
            </div>
            
            <!-- Water -->
            <div id="water-container" class="card mb-2 calc calc-water">
              <div class="card-body">
                <h4>Water</h4>
                <div class="form-row mb-4">
                  <!-- left col at md + -->
                  <div class="col-md-6">
                    <div class="form-row mb-4">
                      <div class="col-6">
                        <label for="batchSize" class="recipe-label">Batch Size (L)</label>
                        <input id="batchSize" class="form-control form-control-sm bottom-border" type="number" inputmode="decimal" min="0" step="0.001" name="batchSize" value="<%= recipe.batchSize %>"> 
                      </div>
                      <div class="col-6">
                        <label for="boilMinutes" class="recipe-label">Boil Minutes</label>
                        <input id="boilMinutes" class="form-control form-control-sm bottom-border" type="number" inputmode="decimal" min="0" step="1" name="water[boilMinutes]" value="<%= recipe.water.boilMinutes %>"> 
                      </div>
                      <div class="col-6">
                        <label for="waterSource" class="recipe-label">Source</label>
                        <input id="waterSource" class="form-control form-control-sm bottom-border" type="text" name="water[source]" value="<%= recipe.water.source %>">
                      </div>
                    </div>
                    <div class="form-row mb-4">
                      <div class="col-6">
                        <label for="waterAdjust-toggle" class="recipe-label">Adjustments</label>
                        <div id="waterAdjust-toggle" class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
                          <label class="btn btn-light <%= recipe.water.adjustments ? 'active' : '' %>">
                            <input type="radio" name="water[adjustments]" autocomplete="off" value="true" <%= recipe.water.adjustments ? 'checked' : '' %> >Yes
                          </label>
                          <label class="btn btn-light <%= !recipe.water.adjustments ? 'active' : '' %>">
                            <input type="radio" name="water[adjustments]" autocomplete="off" value="false" <%= !recipe.water.adjustments ? 'checked' : '' %>>No
                          </label>
                        </div>
                      </div>
                      <div class="col-6">
                        <label for="mashOutToggle" class="recipe-label">Mash Out</label>
                        <div id="mashOutToggle" class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
                          <label class="btn btn-light <%= recipe.water.mashOut ? 'active' : '' %>">
                            <input type="radio" name="water[mashOut]" autocomplete="off" value="true" <%= recipe.water.mashOut ? 'checked' : '' %> >Yes
                          </label>
                          <label class="btn btn-light <%= !recipe.water.mashOut ? 'active' : '' %>">
                            <input type="radio" name="water[mashOut]" autocomplete="off" value="false" <%= !recipe.water.mashOut ? 'checked' : '' %>>No
                          </label>
                        </div>
                      </div>
                    </div>
  
                    <div id="waterAdjustmentNotes-row" class="form-row mb-4 <%= recipe.water.adjustments ? '' : 'd-none' %>">
                      <div class="col">
                        <label for="waterAdjustmentNotes" class="recipe-label">Adjustment Details</label>
                        <textarea id="waterAdjustmentNotes" class="form-control form-control-sm bottom-border" name="water[adjustmentNotes]" rows="3"><%= recipe.water.adjustments ? recipe.water.adjustmentNotes : '' %></textarea>
                      </div>
                    </div>

                    <div id="brewhouse-container" class="card mb-4 mb-md-2">
                      <div class="card-body">
                        <h6 id="toggle-brewhouse-values">Brewhouse & Defaults <span id="toggle-brewhouse-values-collapsed" class="float-right px-1"><i class="fas fa-chevron-right"></i></span><span id="toggle-brewhouse-values-expanded" class="float-right px-1 d-none"><i class="fas fa-chevron-down"></i></span></h6>
                        <div class="form-group mt-3">
                          <select name="water[brewhouse]" id="brewhouse-select" class="custom-select custom-select-sm">
                            <option id="brewhouse-placeholder"value="" <%= !recipe.water.brewhouse ? 'selected disabled' : '' %>>Select a brewhouse</option>
                            <% if(brewhouses.length > 0) { %> 
                              <% for(let brewhouse of brewhouses) { %> 
                              <option value="<%= brewhouse._id %>" <%= ((recipe.water.brewhouse && recipe.water.brewhouse._id.toString() == brewhouse._id.toString())) ? 'selected' : '' %>><%= brewhouse.name %></option>
                              <% } %>
                            <% } %>
                          </select>
                        </div>
                        <% if(brewhouses.length === 0) { %> 
                        <p class="text-lite">
                          No Brewhouses found. Set up a Brewhouse to re-use common water and temperature settings.
                        </p>
                        <% } %>
                        <div id="brewhouse-values" class="<%= brewhouses.length > 0 ? 'd-none' : '' %>">
                          <h6>Efficiency</h6>
                          <div class="form-row mb-4">
                            <div class="col-6">
                              <label for="conversionPercent" class="recipe-label">Conversion %</label>
                              <input id="conversionPercent" class="form-control form-control-sm bottom-border" type="number" inputmode="decimal" min="0" step="1" name="water[conversionPercent]" value="<%= recipe.water.conversionPercent %>">
                            </div>
                          </div>
                          <h6>Volume</h6>
                          <div class="form-row mb-4">
                            <div class="col-6">
                              <label for="boilOffRate" class="recipe-label">Boil-Off (L/Hour)</label>
                              <input id="boilOffRate" class="form-control form-control-sm bottom-border" type="number" inputmode="decimal" min="0" step="0.001" name="water[boilOffRate]" value="<%= recipe.water.boilOffVolume %>">
                            </div>
                            <div class="col-6">
                              <label for="kettleLoss" class="recipe-label">Kettle Loss (L)</label>
                              <input id="kettleLoss" class="form-control form-control-sm bottom-border" type="number" inputmode="decimal" min="0" step="0.001" name="water[kettleLoss]" value="<%= recipe.water.kettleLoss %>">
                            </div>
                            <div class="col-6">
                              <label for="grainAbsorptionRate" class="recipe-label">Grain Absorption (L/kg)</label>
                              <input id="grainAbsorptionRate" class="form-control form-control-sm bottom-border" type="number" inputmode="decimal" min="0" step="0.001" name="water[grainAbsorptionRate]" value="<%= recipe.water.grainAbsorptionRate %>">
                            </div>
                            <div class="col-6">
                              <label for="gristRatio" class="recipe-label">Grist Ratio (L/kg)</label>
                              <input id="gristRatio" class="form-control form-control-sm bottom-border" type="number" inputmode="decimal" min="0" step="0.001" name="water[gristRatio]" value="<%= recipe.water.gristRatio %>">
                            </div>
                          </div>
                          <h6>Temperature</h6>
                          <div class="form-row mb-4">
                            <div class="col-6">
                              <label for="mashOutTargetTemp" class="recipe-label">Mash Out Target (C)</label>
                              <input id="mashOutTargetTemp" class="form-control form-control-sm bottom-border" type="number" inputmode="decimal" min="0" step="0.1" name="water[mashOutTargetTemp]" value="<%= recipe.water.mashOutTargetTemp %>">
                            </div>
                            <div class="col-6">
                              <label for="mashOutWaterTemp" class="recipe-label">Mash Out Water (C)</label>
                              <input id="mashOutWaterTemp" class="form-control form-control-sm bottom-border" type="number" inputmode="decimal" min="0" step="0.1" name="water[mashOutWaterTemp]" value="<%= recipe.water.mashOutWaterTemp %>">
                            </div>
                            <div class="col-6">
                              <label for="spargeWaterTemp" class="recipe-label">Sparge Water (C)</label>
                              <input id="spargeWaterTemp" class="form-control form-control-sm bottom-border" type="number" inputmode="decimal" min="0" step="0.1" name="water[spargeWaterTemp]" value="<%= recipe.water.spargeWaterTemp %>">
                            </div>
                            <div class="col-6">
                              <label for="mashHeatLoss" class="recipe-label">Mash Tun Heat Loss (C/Hour)</label>
                              <input id="mashHeatLoss" class="form-control form-control-sm bottom-border" type="number" inputmode="decimal" min="0" step="0.1" name="water[mashHeatLoss]" value="<%= recipe.water.mashHeatLoss %>">
                            </div>
                            <div class="col-6">
                              <label for="grainSpecificHeat" class="recipe-label">Grain Specific Heat (Metric)</label>
                              <input id="grainSpecificHeat" class="form-control form-control-sm bottom-border" type="number" inputmode="decimal" min="0" step="0.01" name="water[grainSpecificHeat]" value="<%= recipe.water.grainSpecificHeat %>">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- right col at md + -->
                  <div class="col-md-6">
                    <div id="water-table-container">
                      <table id="water-table" class="table table-sm mb-1">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th class="col-water recipe-label text-center" scope="col">Volume (L)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="water-row">
                            <td class="border-0">
                              <span class="recipe-label">Batch Size</span>
                            </td>
                            <td class="border-0">
                              <a id="water-table-display-batchSize" class="btn btn-sm btn-outline-secondary" tabindex="0" data-trigger="focus" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<span class='text-lite italic d-block'>Recipe Batch Size</span>"><span><%= recipe.batchSize %></span></a>
                            </td>
                          </tr>
                          <tr class="water-row">
                            <td class="border-0">
                              <span class="recipe-label">+ Kettle Loss</span>
                            </td>
                            <td class="border-0">
                              <a id="water-table-display-kettleLoss" class="btn btn-sm btn-outline-secondary" tabindex="0" data-trigger="focus" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<span class='text-lite italic d-block'>Brewhouse Kettle Loss</span>"><span><%= recipe.water.kettleLoss %></span></a>
                            </td>
                          </tr>
                          <tr class="water-row">
                            <td class="border-0">
                              <span class="recipe-label">+ Boil-Off</span>
                            </td>
                            <td class="border-0">
                              <input id="water-table-input-boilOff" class="d-none" type="number" step="0.001" name="water[boilOffVolume]" aria-hidden="true">  
                              <a id="water-table-display-boilOff" class="btn btn-sm btn-outline-secondary" tabindex="0" data-trigger="focus" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="
                              <span class='text-lite italic d-block'>Brewhouse Boil-Off L/hour x (Recipe Boil Minutes / 60 )</span>    <span class='text-lite italic d-block'>= <span class='bold'><%= recipe.water.boilOffRate %></span> x (<span class='bold'><%= recipe.water.boilMinutes %></span> / 60)</span>    <span class='text-lite italic d-block'>= <%= recipe.water.boilOffVolume %> L</span>"><span aria-label="Expected Boil Off Volume"><%= recipe.water.boilOffVolume %></span></a>
                            </td>
                          </tr>
                          <tr class="water-row">
                            <td>
                              <span class="recipe-label">= Pre-Boil Volume</span>
                            </td>
                            <td>
                              <input id="water-table-input-preBoilVolume" class="d-none" type="number" step="0.001" name="water[preBoilVolume]" aria-hidden="true" value="<%= recipe.water.preBoilVolume %>">  
                              <a id="water-table-display-preBoilVolume" class="btn btn-sm btn-outline-secondary" tabindex="0" data-trigger="focus" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="
                              <span class='text-lite italic d-block'>Recipe Batch Size + Brewhouse Kettle Loss + Calculated Boil-Off</span>    <span class='text-lite italic d-block'>= <span class='bold'><%= recipe.batchSize %></span> + <span class='bold'><%= recipe.water.kettleLoss %></span> + <span class='bold'><%= recipe.water.boilOffVolume %></span>    </span><span class='text-lite italic d-block'>= <%= recipe.water.preBoilVolume %> L</span>
                              "><span aria-label="Expected Pre-Boil Volume"><%= recipe.water.preBoilVolume %></span></a>
                            </td>
                          </tr>
                          <tr class="water-row">
                            <td class="border-0">
                              <span class="recipe-label">+ Grain Absorption</span>
                            </td>
                            <td class="border-0">
                              <input id="water-table-input-grainAbsorptionVolume" class="d-none" type="number" step="0.001" name="water[grainAbsorptionVolume]" aria-hidden="true" value="<%= recipe.water.grainAbsorptionVolume %>">  
                              <a id="water-table-display-grainAbsorptionVolume" class="btn btn-sm btn-outline-secondary" tabindex="0" data-trigger="focus" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="
                              <span class='text-lite italic d-block'>Recipe Grain Absorption Rate L/kg x Recipe Total Malt Weight kg</span>    <span class='text-lite italic d-block'>= <span class='bold'><%= recipe.water.grainAbsorptionRate %></span> x <span class='bold'><%= recipe.maltTotals.qty %></span></span>    <span class='text-lite italic d-block'>= <%= recipe.water.grainAbsorptionVolume %> L</span>"><span aria-label="Expected Grain Absorption Volume"><%= recipe.water.grainAbsorptionVolume %></span></a>
                            </td>
                          </tr>
                          <tr class="water-row">
                            <td>
                              <span class="recipe-label">= Total Mash Water</span>
                            </td>
                            <td>
                              <input id="water-table-input-totalMashWaterVolume" class="d-none" type="number" step="0.001" name="water[totalMashWaterVolume]" aria-hidden="true" value="<%= recipe.water.totalMashWaterVolume %>">  
                              <a id="water-table-display-totalMashWaterVolume" class="btn btn-sm btn-outline-secondary" tabindex="0" data-trigger="focus" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="
                              <span class='text-lite italic d-block'>Calculated Pre-Boil Volume L + Calculated Grain Absorption L</span>    <span class='text-lite italic d-block'>= <span class='bold'><%= recipe.water.preBoilVolume %></span> + <span class='bold'><%= recipe.water.grainAbsorptionVolume %></span></span>    <span class='text-lite italic d-block'>= <%= recipe.water.totalMashWaterVolume %> L</span>"><span aria-label="Total Mash Water Volume"><%= recipe.water.totalMashWaterVolume %></span></a>
                            </td>
                          </tr>
                          <tr>
                            <td class="bottom-border"></td>
                            <td class="bottom-border"></td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr class="water-row">
                            <td>
                              <span class="recipe-label">Strike Water</span>
                            </td>
                            <td>
                              <input id="water-table-input-strikeWaterVolume" class="d-none" type="number" step="0.001" name="water[strikeVolume]" aria-hidden="true" value="<%= recipe.water.strikeVolume %>">  
                              <a id="water-table-display-strikeWaterVolume" class="btn btn-sm btn-outline-secondary" tabindex="0" data-trigger="focus" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="
                              <span class='text-lite italic d-block'>Brewhouse Grist Ratio L/kg x Receipe Total Malt Weight kg</span>    <span class='text-lite italic d-block'>= <span class='bold'><%= recipe.water.gristRatio %></span> x <span class='bold'><%= recipe.maltTotals.qty %></span></span>    <span class='text-lite italic d-block'>= <%= recipe.water.strikeVolume %> L</span>"><span aria-label="Strike Water Volume"><%= recipe.water.strikeVolume %></span></a>
                            </td>
                          </tr>
                          <tr class="water-row">
                            <td>
                              <span class="recipe-label">Mash Out Water</span>
                            </td>
                            <td>
                              <input id="water-table-input-mashEndTemp" class="d-none" type="number" step="0.01" name="water[mashEndTemp]" aria-hidden="true" value="<%= recipe.water.mashOutVolume %>">
                              <input id="water-table-input-mashOutVolume" class="d-none" type="number" step="0.001" name="water[mashOutVolume]" aria-hidden="true">  
                              <a id="water-table-display-mashOutVolume" class="btn btn-sm btn-outline-secondary" tabindex="0" data-trigger="focus" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="
                              <span class='text-lite italic d-block'>(T2-T1) x (G + Wm) / (Tw – T2)</span>    <span class='text-lite italic d-block mb-1'>      <%= recipe.water.mashOut ? `= (<span class="bold">${recipe.water.mashOutTargetTemp}</span> - <span class="bold">${recipe.water.mashEndTemp}</span>) x ((<span class="bold">${recipe.maltTotals.qty}</span> x <span class="bold">${recipe.water.grainSpecificHeat}</span>) + <span class="bold">${recipe.water.strikeVolume}</span>) / (<span class="bold">${recipe.water.mashOutWaterTemp}</span> – <span class="bold">${recipe.water.mashOutTargetTemp}</span>)` : '' %></span>    <span class='text-lite italic d-block mb-1'>      = <%= recipe.water.mashOutVolume %> L <%= recipe.water.mashOut ? '' : '(No Mash Out on this Recipe)' %></span>    <hr>    <span class='text-lite italic d-block'><span class='bold'>T2</span> = Brewhouse Mash Out Target Temp C</span>    <span class='text-lite italic d-block'><span class='bold'>T1</span> = Calculated Mash End Temp C (Recipe Mash Temp C, Recipe Mash Length minutes, and Brewhouse Mash Tun Heat Loss C/hour)</span>    <span class='text-lite italic d-block'><span class='bold'>G</span> = Recipe Total Malt Weight x Brewhouse Grain Specific Heat</span>    <span class='text-lite italic d-block'><span class='bold'>Wm</span> = Calculated Strike Water Volume L</span>    <span class='text-lite italic d-block'><span class='bold'>Tw</span> = Brewhouse Mash Out Water Temp C</span>"><span aria-label="Mash Out Water Volume"><%= recipe.water.mashOutVolume %></span></a>
                            </td>
                          </tr>
                          <tr class="water-row">
                            <td>
                              <span class="recipe-label">Sparge Water</span>
                            </td>
                            <td>
                              <input id="water-table-input-spargeWaterVolume" class="d-none" type="number" step="0.001" name="water[spargeWaterVolume]" aria-hidden="true" value="<%= recipe.water.spargeWaterVolume %>">  
                              <a id="water-table-display-spargeWaterVolume" class="btn btn-sm btn-outline-secondary" tabindex="0" data-trigger="focus" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="
                              <span class='text-lite italic d-block'>Calculated Total Mash Water L - (Calculated Strike Water L + Calculated Mash Out Water L)</span>    <span class='text-lite italic d-block'>= <span class='bold'><%= recipe.water.totalMashWaterVolume %></span> - (<span class='bold'><%= recipe.water.strikeVolume %></span> + <span class='bold'><%= recipe.water.mashOutVolume %></span>)</span>    <span class='text-lite italic d-block'>= <%= recipe.water.spargeWaterVolume %> L</span>
                              "><span aria-label="Sparge Water Volume"><%= recipe.water.spargeWaterVolume %></span></a>
                            </td>
                          </tr>       
                        </tfoot>                      
                      </table>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- Malts -->
            <div class="card mb-2">
              <div class="card-body">
                <h4>Malts</h4>
                <div id="malt-table-container" class="mb-4 calc calc-malt">
                  <table id="malt-table" class="table table-sm mb-1">
                    <thead>
                      <tr>
                        <th class="recipe-label" scope="col">Name</th>
                        <th class="recipe-label text-center" scope="col">Qty (kg)</th>
                        <th class="recipe-label text-center" scope="col">PPG</th>
                        <th class="recipe-label text-center" scope="col">Points</th>
                        <th class="recipe-label text-center" scope="col">Lovibond</th>
                        <th class="recipe-label text-center" scope="col">MCU </th>
                        <th class="recipe-label text-center" scope="col">SRM</th>
                        <th class="border-0 col-add-del-btn" scope="col">
                          <a class="btn btn-sm btn-outline-dark my-1 add-malt" role="button"><i class="fas fa-plus fa-sm"></i></a>
                        </th>
                      </tr>
                    </thead>
                    <tbody id="malt-list">
                      <% if(recipe.malts.length > 0) { %> 
                        <% for(let i = 0; i < recipe.malts.length; i++) { %> 
                          <tr class="malt-row">
                            <td>
                              <label class="sr-only" for="maltName[<%= i %>]">Name</label>
                              <input id="maltName[<%= i %>]" class="form-control form-control-sm border-0" type="text" name="malts[<%= i %>][name]" value="<%= recipe.malts[i].name %>">
                            </td>
                            <td>
                              <label class="sr-only" for="maltQty[<%= i %>]">Qty (kg)</label>
                              <input id="maltQty[<%= i %>]" class="form-control form-control-sm border-0 text-center" type="number" inputmode="decimal" min="0" step="0.001" name="malts[<%= i %>][qty]" value="<%= recipe.malts[i].qty %>">
                            </td>
                            <td>
                              <label class="sr-only" for="maltPPG[<%= i %>]">PPG</label>
                              <input id="maltPPG[<%= i %>]" class="form-control form-control-sm border-0 text-center" type="number" inputmode="decimal" min="0" step="1" name="malts[<%= i %>][ppg]" value="<%= recipe.malts[i].ppg %>">
                            </td>
                            <td>
                              <input id="maltGravityPointsInput[<%= i %>]" class="d-none" type="number" step="1" name="malts[<%= i %>][gravityPoints]" aria-hidden="true" value="<%= recipe.malts[i].gravityPoints %>">
                              <span id="maltGravityPointsDisplay[<%= i %>]" class="d-block form-control-sm text-center bold" aria-label="Malt Gravity Points"><%= recipe.malts[i].gravityPoints %></span>
                            </td>
                            <td>
                              <label class="sr-only" for="maltLovibond[<%= i %>]">Lovibond</label>
                              <input id="maltLovibond[<%= i %>]" class="form-control form-control-sm border-0 text-center" type="number" inputmode="decimal" min="0" step="1" name="malts[<%= i %>][lovibond]" value="<%= recipe.malts[i].lovibond %>">
                            </td>
                            <td>
                              <input id="maltMCUInput[<%= i %>]" class="d-none" type="number" step="0.001" name="malts[<%= i %>][mcu]" aria-hidden="true" value="<%= recipe.malts[i].mcu %>">
                              <span id="maltMCUDisplay[<%= i %>]" class="d-block form-control-sm text-center bold" aria-label="Malt Color Units"><%= recipe.malts[i].mcu %></span>
                            </td>
                            <td>
                              <input id="maltSRMInput[<%= i %>]" class="d-none" type="number" step="0.001" name="malts[<%= i %>][srm]" aria-hidden="true" value="<%= recipe.malts[i].srm %>">
                              <span id="maltSRMDisplay[<%= i %>]" class="d-block form-control-sm text-center bold" aria-label="Malt SRM Color"><%= recipe.malts[i].srm %></span>
                            </td>
                            <td class="border-0">
                              <a class="btn btn-sm btn-outline-dark my-1 delete-malt" role="button"><i class="far fa-trash-alt"></i></a>
                            </td>
                          </tr>
                        <% } %> 
                      <% } %>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td></td>
                        <td>
                          <input id="maltTotalsQtyInput" class="d-none" type="number" step="0.001" name="maltTotals[qty]" aria-hidden="true" value="<%= recipe.maltTotals.qty %>">
                          <span id="maltTotalsQtyDisplay" class="d-block form-control-sm text-center bold" aria-label="Total Malt Quantity"><%= recipe.maltTotals.qty %></span>                      
                        </td>
                        <td></td>
                        <td>
                          <input id="maltTotalsPointsInput" class="d-none" type="number" step="1" name="maltTotals[points]" aria-hidden="true" value="<%= recipe.maltTotals.points %>">                  
                          <span id="maltTotalsPointsDisplay" class="d-block form-control-sm text-center bold" aria-label="Total Gravity Points"><%= recipe.maltTotals.points %></span>
                        </td>
                        <td></td>
                        <td>
                          <input id="maltTotalsMCUInput" class="d-none" type="number" step="0.001" name="maltTotals[mcu]" aria-hidden="true" value="<%= recipe.maltTotals.mcu %>">
                          <span id="maltTotalsMCUDisplay" class="d-block form-control-sm text-center bold" aria-label="Total Malt Color Units"><%= recipe.maltTotals.mcu %></span>
                        </td>
                        <td>
                          <input id="maltTotalsSRMInput" class="d-none" type="number" step="0.001" name="maltTotals[srm]" aria-hidden="true" value="<%= recipe.maltTotals.srm %>">
                          <span id="maltTotalsSRMDisplay" class="d-block form-control-sm text-center bold" aria-label="Total Malt SRM"><%= recipe.maltTotals.srm %></span>
                          <input id="maltTotalsSRMHexInput" class="d-none" type="text" name="maltTotals[srmHex]" aria-hidden="true" value="<%= recipe.maltTotals.srmHex %>">
                        </td>
                        <td class="border-0"></td>
                      </tr>         
                    </tfoot>
                  </table>
                  <div class="scroll-cue d-flex d-md-none justify-content-center align-items-center"><i class="fas fa-chevron-right"></i></div>
                </div>
                <ul class="text-lite">
                  <li>Total Gravity Points based on Pre-Boil Volume of <span id="malts-preBoilVolume" class="bold"><%= recipe.water.preBoilVolume %></span> L.</li>
                  <li>Current Brewhouse typically achieves conversion of approximately <span id="malts-conversionPercent" class="bold"><%= recipe.water.conversionPercent %></span>%. Pre-Boil Gravity of <span id="malts-expectedPreBoilGravity" class='bold'><%= recipe.expectedPreBoilGravity %></span> expected.</li>
                  <input id="expectedpreBoilGravityInput" class="d-none" type="number" step="0.001" name="expectedPreBoilGravity" aria-hidden="true">
                  <li>Based on expected Post-Boil Volume of <span id="malts-display-postBoilVolume" class="bold"><%= recipe.water.postBoilVolume %></span> L, Original Gravity of <span id="malts-expectedOriginalGravity" class="bold"><%= recipe.expectedOriginalGravity %></span> is expected.</li>
                  <input id="malts-input-postBoilVolume" class="d-none" type="number" step="0.01" name="water[postBoilVolume]" aria-hidden="true">
                </ul>
              </div>
            </div>
            
            <!-- Hops -->
            <div class="card mb-2">
              <div class="card-body">
                <h4>Hops</h4>
                <div id="hop-table-container" class="mb-4 calc calc-hop">
                  <table id="hop-table" class="table table-sm mb-1">
                    <thead>
                      <tr>
                        <th class="recipe-label" scope="col">Name</th>
                        <th class="recipe-label text-center" scope="col">AA%</th>
                        <th class="recipe-label text-center" scope="col">Qty (g)</th>
                        <th class="recipe-label text-center" scope="col">AAU</th>
                        <th class="recipe-label text-center col-btn-group" scope="col">Usage</th>
                        <th class="recipe-label text-center" scope="col">Timing</th>
                        <th class="border-0 col-add-del-btn" scope="col">
                          <a class="btn btn-sm btn-outline-dark my-1 add-hop" role="button"><i class="fas fa-plus fa-sm"></i></a>
                        </th>
                      </tr>
                    </thead>
                    <tbody id="hop-list">
                      <% if(recipe.hops.length > 0) { %> 
                        <% for(let i = 0; i < recipe.hops.length; i++) { %>  
                          <tr class="hop-row">
                            <td>
                              <label class="sr-only" for="hopName[<%= i %>]">Name</label>
                              <input id="hopName[<%= i %>]" class="form-control form-control-sm border-0" type="text" name="hops[<%= i %>][name]" value="<%= recipe.hops[i].name %>">  
                            </td>
                            <td>
                              <label class="sr-only" for="hopAA[<%= i %>]">AA%</label>
                              <input id="hopAA[<%= i %>]" class="form-control form-control-sm border-0 text-center" type="number" inputmode="decimal" min="0" max="100" step="0.01" name="hops[<%= i %>][aa]" value="<%= recipe.hops[i].aa %>">  
                            </td>
                            <td>
                              <label class="sr-only" for="hopQty[<%= i %>]">Qty (g)</label>
                              <input id="hopQty[<%= i %>]" class="form-control form-control-sm border-0 text-center" type="number" inputmode="decimal" min="0" step="0.01" name="hops[<%= i %>][qty]" value="<%= recipe.hops[i].qty %>">  
                            </td>
                            <td>
                              <input id="hopAAUInput[<%= i %>]" class="d-none" type="number" step="0.001" name="hops[<%= i %>][aau]" aria-hidden="true" value="<%= recipe.hops[i].aau %>">
                              <span id="hopAAUDisplay[<%= i %>]" class="d-block form-control-sm text-center bold" aria-label="Hop Alpha Acid Units"><%= recipe.hops[i].aau %></span>
                            </td>
                            <td class="text-center">
                              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-light <%= recipe.hops[i].usage === 'Boil' ? 'active' : '' %>">
                                  <input type="radio" name="hops[<%= i %>][usage]" autocomplete="off" value="Boil" <%= recipe.hops[i].usage === 'Boil' ? 'checked' : '' %>>Boil
                                </label>
                                <label class="btn btn-light <%= recipe.hops[i].usage === 'Dry' ? 'active' : '' %>">
                                  <input type="radio" name="hops[<%= i %>][usage]" autocomplete="off" value="Dry" <%= recipe.hops[i].usage === 'Dry' ? 'checked' : '' %>>Dry
                                </label>
                              </div>
                            </td>
                            <td>
                              <label class="sr-only" for="hopTime[<%= i %>]">Timing</label>
                              <input id="hopTime[<%= i %>]" class="form-control form-control-sm border-0 text-center" type="text" name="hops[<%= i %>][timing]" value="<%= recipe.hops[i].timing %>">
                            </td>
                            <td class="border-0">
                              <a class="btn btn-sm btn-outline-dark my-1 delete-hop" role="button"><i class="far fa-trash-alt"></i></a>
                            </td>
                          </tr>
                        <% } %>  
                      <% } %> 
                    </tbody>
                    <tfoot>
                      <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td>
                          <input id="hopTotalsQtyInput" class="d-none" type="number" step="0.001" name="hopTotals[qty]" aria-hidden="true" value="<%= recipe.hopTotals.qty %>">
                          <span id="hopTotalsQtyDisplay" class="d-block form-control-sm text-center bold" aria-label="Total Hop Quantity"><%= recipe.hopTotals.qty %></span>  
                        </td>
                        <td>
                          <input id="hopTotalsAAUInput" class="d-none" type="number" step="0.001" name="hopTotals[aau]" aria-hidden="true" value="<%= recipe.hopTotals.aau %>"> 
                          <span id="hopTotalsAAUDisplay" class="d-block form-control-sm text-center bold" aria-label="Total Hop Alpha Acid Units"><%= recipe.hopTotals.aau %></span>  
                        </td>
                        <td></td>
                        <td></td>
                        <td class="border-0"></td>
                      </tr>         
                    </tfoot>                      
                  </table>
                  <div class="scroll-cue d-flex d-md-none justify-content-center align-items-center"><i class="fas fa-chevron-right"></i></div>
                </div>
              </div>
            </div>
            <!-- Everything below here is displayed on a col-md-6 card. We want these to tile nicely and stack vertically on tablet and mobile -->
            <div class="form-row">
              <!-- Yeast -->
              <div class="col-md-6">
                <div id="yeast-container" class="card mb-2 calc calc-yeast">
                  <div class="card-body">
                    <h4>Yeast</h4>
                    <div class="form-row">
                      <div class="col-6">
                        <label for="yeastLab" class="recipe-label">Lab</label>
                        <input id="yeastLab" class="form-control form-control-sm bottom-border" type="text" name="yeast[lab]" value="<%= recipe.yeast.lab %>">
                      </div>
                      <div class="col-6">
                        <label for="yeastStrain" class="recipe-label">Strain</label>
                        <input id="yeastStrain" class="form-control form-control-sm bottom-border" type="text" name="yeast[strain]" value="<%= recipe.yeast.strain %>">
                      </div>
                      <div class="col-6">
                        <label for="yeastFlocculation" class="recipe-label">Flocculation</label>
                        <input id="yeastFlocculation" class="form-control form-control-sm bottom-border" type="text" name="yeast[flocculation]" value="<%= recipe.yeast.flocculation %>">
                      </div>
                      <div class="col-6">
                        <label for="yeastAttenuation" class="recipe-label">Attenuation %</label>
                        <input id="yeastAttenuation" class="form-control form-control-sm bottom-border" type="number" inputmode="decimal" min="0" step="1" name="yeast[attenuation]" value="<%= recipe.yeast.attenuation %>">
                      </div>
                      <div class="col-6">
                        <label for="yeastState" class="recipe-label">State</label>
                        <input id="yeastState" class="form-control form-control-sm bottom-border" type="text" name="yeast[state]" value="<%= recipe.yeast.state %>">
                      </div>
                      <div class="col-6">
                        <label for="yeastQty" class="recipe-label">Qty</label>
                        <input id="yeastQty" class="form-control form-control-sm bottom-border" type="text" name="yeast[qty]" value="<%= recipe.yeast.qty %>">
                      </div>
                      <div class="col-6">
                        <label for="yeastTemp" class="recipe-label">Pitch Temp (°C)</label>
                        <input id="yeastTemp" class="form-control form-control-sm bottom-border" type="number" inputmode="decimal" min="0" step="0.1" name="yeast[pitchTemp]" value="<%= recipe.yeast.pitchTemp %>">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <label for="yeastPrep-toggle" class="recipe-label">Starter/Rehydration Required</label>
                        <div id="yeastPrep-toggle" class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
                          <label class="btn btn-light <%= recipe.yeast.starter ? 'active' : '' %>">
                            <input type="radio" name="yeast[starter]" autocomplete="off" value="true" <%= recipe.yeast.starter ? 'checked' : '' %>>Yes
                          </label>
                          <label class="btn btn-light <%= !recipe.yeast.starter ? 'active' : '' %>">
                            <input type="radio" name="yeast[starter]" autocomplete="off" value="false" <%= !recipe.yeast.starter ? 'checked' : '' %>>No
                          </label>
                        </div>
                        <div id="yeastPrepDesc-row" class="form-row mb-4 <%= !recipe.yeast.starter ? 'd-none' : '' %>">
                          <div class="col">
                            <label for="yeastStarterNotes" class="recipe-label">Starter/Rehydration Steps</label>
                            <textarea id="yeastStarterNotes" class="form-control form-control-sm bottom-border" name="yeast[starterNotes]" rows="5"><%= recipe.yeast.starterNotes %></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
              
              <!-- Mash -->
              <div class="col-md-6">
                <div class="card mb-2">
                  <div class="card-body">
                    <h4>Mash</h4>
                    <div class="form-row mb-4">
                      <div class="col-6">
                        <label for="mashMethod" class="recipe-label">Mash Method</label>
                        <input id="mashMethod" class="form-control form-control-sm bottom-border" type="text" name="mash[method]" value="<%= recipe.mash.method %>">
                      </div>
                      <div class="col-6">
                        <label for="spargeMethod" class="recipe-label">Sparge Method</label>
                        <input id="spargeMethod" class="form-control form-control-sm bottom-border" type="text" name="mash[spargeMethod]" value="<%= recipe.mash.spargeMethod %>">
                      </div>
                    </div>
                    <h6>Schedule</h6>
                    <div id="mash-table-container" class="calc calc-mash">
                      <table id="mash-table" class="table table-sm mb-1">
                        <thead>
                          <tr>
                            <th class="recipe-label" scope="col">Rest Type</th>
                            <th class="recipe-label text-center" scope="col">Temp (C)</th>
                            <th class="recipe-label text-center" scope="col">Minutes</th>
                            <th class="border-0 col-add-del-btn" scope="col">
                              <a class="btn btn-sm btn-outline-dark my-1 add-mash" role="button"><i class="fas fa-plus fa-sm"></i></a>
                            </th>
                          </tr>
                        </thead>
                        <tbody id="mash-list">
                          <% if(recipe.mashSched.length > 0) { %> 
                            <% for(let i = 0; i < recipe.mashSched.length; i++) { %> 
                              <tr class="mash-row">
                                <td>
                                  <label class="sr-only" for="mashRestType[<%= i %>]">Rest Type</label>
                                  <input id="mashRestType[<%= i %>]" class="form-control form-control-sm border-0" type="text" name="mashSched[<%= i %>][restType]" value="<%= recipe.mashSched[i].restType %>">  
                                </td>
                                <td>
                                  <label class="sr-only" for="mashTemp[<%= i %>]">Temp (C)</label>
                                  <input id="mashTemp[<%= i %>]" class="form-control form-control-sm border-0 text-center" type="number" inputmode="decimal" min="0" step="0.1" name="mashSched[<%= i %>][temp]" value="<%= recipe.mashSched[i].temp %>">  
                                </td>
                                <td>
                                  <label class="sr-only" for="mashMins[<%= i %>]">Minutes</label>
                                  <input id="mashMins[<%= i %>]" class="form-control form-control-sm border-0 text-center" type="number" inputmode="decimal" min="0" step="1" name="mashSched[<%= i %>][minutes]" value="<%= recipe.mashSched[i].minutes %>">  
                                </td>
                                <td class="border-0">
                                  <a class="btn btn-sm btn-outline-dark my-1 delete-mash" role="button"><i class="far fa-trash-alt"></i></a>
                                </td>
                              </tr>
                            <% } %> 
                          <% } %>
                        </tbody>
                        <tfoot>
                          <tr class="text-center">
                            <td></td>
                            <td></td>
                            <td>
                              <input id="totalMashMinutesInput" class="d-none" type="number" step="1" name="mash[totalMinutes]" aria-hidden="true" value="<%= recipe.mash.totalMinutes %>">
                              <span id="totalMashMinutesDisplay" class="d-block form-control-sm text-center bold" aria-label="Total Mash Minutes"><%= recipe.mash.totalMinutes %></span>  
                            </td>
                            <td class="border-0"></td>
                          </tr>         
                        </tfoot>                      
                      </table>
                    </div>                   
                  </div>
                </div> 
              </div>
              
              <!-- Finings -->
              <div class="col-md-6">
                <div class="card mb-2">
                  <div class="card-body">
                    <h4>Finings</h4>
                    <div class="form-row mb-4">
                      <div class="col">
                        <div id="finings-table-container">
                          <table id="finings-table" class="table table-sm mb-1">
                            <thead>
                              <tr>
                                <th class="recipe-label" scope="col">Type</th>
                                <th class="recipe-label text-center" scope="col">Qty</th>
                                <th class="recipe-label text-left" scope="col">Usage</th>
                                <th class="border-0 col-add-del-btn" scope="col">
                                  <a class="btn btn-sm btn-outline-dark my-1 add-finings" role="button"><i class="fas fa-plus fa-sm"></i></a>
                                </th>
                              </tr>
                            </thead>
                            <tbody id="finings-list">
                              <% if(recipe.finings.length > 0) { %> 
                                <% for (let i = 0; i < recipe.finings.length; i++) { %> 
                                  <tr class="finings-row">
                                    <td>
                                      <label class="sr-only" for="finingsName[<%= i %>]">Type</label>
                                      <input id="finingsName[<%= i %>]" class="form-control form-control-sm border-0" type="text" name="finings[<%= i %>][name]" value="<%= recipe.finings[i].name %>">  
                                    </td>
                                    <td>
                                      <label class="sr-only" for="finingsQty[<%= i %>]">Qty</label>
                                      <input id="finingsQty[<%= i %>]" class="form-control form-control-sm border-0 text-center" type="text" name="finings[<%= i %>][qty]" value="<%= recipe.finings[i].qty %>">  
                                    </td>
                                    <td>
                                      <label class="sr-only" for="finingsUsage[<%= i %>]">Usage</label>
                                      <input id="finingsUsage[<%= i %>]" class="form-control form-control-sm border-0 text-left" type="text" name="finings[<%= i %>][usage]" value="<%= recipe.finings[i].usage %>">  
                                    </td>
                                    <td class="border-0">
                                      <a class="btn btn-sm btn-outline-dark my-1 delete-finings" role="button"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                  </tr>
                                <% } %> 
                              <% } %> 
                            </tbody>
                            <tfoot>
                              <tr>
                                <td colspan="3"></td>
                              </tr>
                            </tfoot>                     
                          </table>
                          <div class="scroll-cue justify-content-center align-items-center"><i class="fas fa-chevron-right"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Fermentation & Conditioning -->
              <div class="col-md-6">
                <div class="card mb-2">
                  <div class="card-body">
                    <h4>Fermentation & Conditioning</h4>
                    <div id="ferm-table-container" class="calc calc-ferm">
                      <table id="ferm-table" class="table table-sm mb-1">
                        <thead>
                          <tr>
                            <th class="recipe-label" scope="col">Stage</th>
                            <th class="recipe-label text-center" scope="col">Temp (C)</th>
                            <th class="recipe-label text-center" scope="col">Days</th>
                            <th class="border-0 col-add-del-btn" scope="col">
                              <a class="btn btn-sm btn-outline-dark my-1 add-ferm" role="button"><i class="fas fa-plus fa-sm"></i></a>
                            </th>
                          </tr>
                        </thead>
                        <tbody id="ferm-list">
                          <% if(recipe.ferm.length > 0) { %> 
                            <% for(let i = 0; i < recipe.ferm.length; i++) { %> 
                              <tr class="ferm-row">
                                <td>
                                  <label class="sr-only" for="fermStage[<%= i %>]">Stage</label>
                                  <input id="fermStage[<%= i %>]" class="form-control form-control-sm border-0" type="text" name="ferm[<%= i %>][stage]" value="<%= recipe.ferm[i].stage %>">  
                                </td>
                                <td>
                                  <label class="sr-only" for="fermTemp[<%= i %>]">Temp (C)</label>
                                  <input id="fermTemp[<%= i %>]" class="form-control form-control-sm border-0 text-center" type="number" inputmode="decimal" step="0.1" min="0" name="ferm[<%= i %>][temp]" value="<%= recipe.ferm[i].temp %>">  
                                </td>
                                <td>
                                  <label class="sr-only" for="fermDays[<%= i %>]">Days</label>
                                  <input id="fermDays[<%= i %>]" class="form-control form-control-sm border-0 text-center" type="number" inputmode="decimal" min="0" step="1" name="ferm[<%= i %>][days]" value="<%= recipe.ferm[i].days %>">  
                                </td>
                                <td class="border-0">
                                  <a class="btn btn-sm btn-outline-dark my-1 delete-ferm" role="button"><i class="far fa-trash-alt"></i></a>
                                </td>
                              </tr>
                            <% } %> 
                          <% } %> 
                        </tbody>
                        <tfoot>
                          <tr class="text-center">
                            <td></td>
                            <td></td>
                            <td>
                              <input id="totalFermDaysInput" class="d-none" type="number" step="1" name="fermTotals[days]" value="<%= recipe.fermTotals.days %>" aria-hidden="true">  
                              <span id="totalFermDaysDisplay" class="d-block form-control-sm text-center bold" aria-label="Total Fermentation Days"><%= recipe.fermTotals.days %></span>  
                            </td>
                            <td class="border-0"></td>
                          </tr>         
                        </tfoot>                      
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteRecipeModal" tabindex="-1" aria-labelledby="deleteRecipeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteRecipeModalLabel">Delete Recipe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this Recipe? All related brew data will also be deleted and this action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="/beers/<%= beer._id %>/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- script to set background-color on malt SRM <td>. VS Code does not like this being done with inline styling! -->
    <%- `<script>document.querySelector('#maltTotalsSRMInput').parentElement.style.backgroundColor = "${recipe.maltTotals.srmHex}"</script>` %>

<%- include('../partials/footer') -%>