<%- include('../partials/header') -%>
      
      <div class="row mb-2">
        <div class="col-md-12 px-2 px-md-0">
          <div class="d-flex justify-content-between flex-title-row mb-1">
            <div>
              <h3 class="d-inline-block mb-0">
                <i id="srmDisplay" class="fas fa-circle mr-2"></i><%= beer.name %>
              </h3>
              <span class="pl-0 d-block pl-md-1 d-md-inline"><%= beer.style %></span>
              <span class="d-block text-lite italic">Version <%= recipe.version %>, created <%= recipe.created.toLocaleDateString() %></span>
            </div>
            <a role="button" class="btn btn-sm btn-outline-warning d-block" href="/beers/<%= beer._id %>/recipes/<%= recipe._id %>/edit">Edit</a>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12 px-2 px-md-0">
            
            <!-- Target Batch Size, OG, FG, ABV-->
            <div id="target-container" class="card mb-2">
              <div class="card-body">
                <i id="pin-targets" class="fas fa-thumbtack d-none"></i>
                <div class="form-row">
                  <div class="col-3 text-center">
                    <span id="target-display-batchSize" class="d-block display-4"><%= recipe.batchSize || 0 %></span>
                    <span class="d-block text-lite">Litres</span>
                  </div>
                  <div class="col-3 text-center">
                    <span id="expectedOriginalGravityDisplay" class="d-block display-4" aria-label="Expected Original Gravity"><%= recipe.expectedOriginalGravity.toFixed(3) %></span>
                    <span class="d-block text-lite">OG</span>
                  </div>
                  <div class="col-3 text-center">
                    <span id="expectedFinalGravityDisplay" class="d-block display-4" aria-label="Expected Final Gravity"><%= recipe.expectedFinalGravity.toFixed(3) %></span>
                    <span class="d-block text-lite">FG</span>
                  </div>
                  <div class="col-3 text-center">
                    <span id="expectedABVDisplay" class="d-block display-4" aria-label="Expected ABV"><%= recipe.expectedABV %></span>
                    <span class="d-block text-lite">% ABV</span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="card mb-2">
              <div class="card-body">
                <div class="form-row my-2">
                  <div class="col">
                    <!-- Description and Recipe Notes -->
                    <p class="text-lite">
                      <%= recipe.description %>
                      <ul class="text-lite">
                        <% if(recipe.recipeNotes.length > 0) { %>
                          <% for(let note of recipe.recipeNotes) { %>
                          <li><%= note %></li>
                          <% } %>  
                        <% } %>
                      </ul>
                    </p>
                    <hr>
                    
                    <!-- Malts, Hops, Yeast, Water -->
                    <div class="form-row my-2">
                      <div class="col-lg-3 col-md-6">
                        <h6>Malts</h6>
                        <% if(recipe.malts.length > 0) { %> 
                          <ul class="text-lite">
                            <% for(let malt of recipe.malts) { %> 
                            <li><%= malt.name %> x <%= malt.qty %> kg</li>
                            <% } %> 
                            <li class="bold"><%= recipe.maltTotals.srm %> SRM </li>
                          </ul>
                        <% } else { %> 
                        <p class="text-lite">No malts added yet.</p>
                        <% } %>
                      </div>
                      <div class="col-lg-3 col-md-6">
                        <h6>Hops, Herbs, Spices</h6>
                        <% if(recipe.hops.length > 0) { %> 
                          <ul class="text-lite">
                            <% for(let hop of recipe.hops) { %> 
                            <li><%= hop.name %> x <%= hop.qty %> g @ <%= hop.aa %>%, <%= hop.usage %> <%= hop.timing %>  </li>
                            <% } %> 
                          </ul>
                        <% } else { %> 
                        <p class="text-lite">No hops added yet.</p>
                        <% } %> 
                      </div>
                      <div class="col-lg-3 col-md-6">
                        <h6>Yeast</h6>
                        <% if(recipe.yeast.lab && recipe.yeast.strain) { %> 
                          <ul class="text-lite">
                            <li>
                              <%= recipe.yeast.lab %> <%= recipe.yeast.strain %> x <%= recipe.yeast.qty %> <%= recipe.yeast.state ? `(${recipe.yeast.state})` : '' %>
                            </li>
                          </ul>
                        <% } else { %> 
                          <p class="text-lite">
                            No Yeast added yet.
                          </p>
                        <% } %> 
                      </div>
                      <div class="col-lg-3 col-md-6">
                        <h6>Water</h6>
                        <ul class="text-lite">
                          <li><%= recipe.water.source ? `Water sourced from ${recipe.water.source}. ` : '' %></li>
                          <li><%= recipe.water.adjustments && recipe.water.adjustmentNotes ? `Adjustments required: ${recipe.water.adjustmentNotes}.` : '' %></li>
                          <li>Strike Water: <%= recipe.water.strikeVolume %> L</li>
                          <% if(recipe.water.mashOut) { %> 
                            <li>Mash Out Water: <%=recipe.water.mashOutVolume %> L @ <%= recipe.water.mashOutWaterTemp %> C</li>
                          <% } %>
                          <li>Sparge Water: <%= recipe.water.spargeWaterVolume %> L @ <%= recipe.water.spargeWaterTemp %> C</li>
                        </ul>
                      </div>
                    </div>
                    <hr>

                    <!-- Yeast Starter Steps -->
                    <% if(recipe.yeast.lab && recipe.yeast.strain && recipe.yeast.starter) { %> 
                      <div class="form-row my-2">
                        <div class="col-md-12">
                          <h6>Yeast Starter/Rehydration</h6>
                          <ul class="text-lite">
                            <% let starterStepsArr = recipe.yeast.starterNotes.split('\r\n\r\n'); %>
                            <% for(let step of starterStepsArr) { %>
                              <li><%= step %></li>
                            <% } %> 
                          </ul>
                        </div>
                      </div>
                      <hr>
                    <% } %> 
                    
                    <!-- Mash-->
                    <div class="form-row my-2">
                      <div class="col-md-12">
                        <h6>Mash</h6>
                        <% if(recipe.mashSched.length > 0) { %>
                          <ul class="text-lite">
                            <li>Mash-In: <%= recipe.water.strikeVolume %> L Strike Water (calculate temp on Brew Day)</li>
                            <% for(let step of recipe.mashSched) { %> 
                              <li><%= step.restType %>: <%= step.minutes %> minutes @ <%= step.temp %> C</li>
                            <% } %>
                            <% if(recipe.water.mashOut) { %>
                              <li>Mash Out: <%=recipe.water.mashOutVolume %> L @ <%= recipe.water.mashOutWaterTemp %> C to raise mash temperature to <%= recipe.water.mashOutTargetTemp %> C</li>
                            <% } %>
                            <li><%= recipe.mash.spargeMethod %> Sparge: <%= recipe.water.spargeWaterVolume %> L @ <%= recipe.water.spargeWaterTemp %> C</li>
                            <li>Pre-Boil Volume: <%= recipe.water.preBoilVolume %> L</li>
                            <li>Pre-Boil Gravity: ~<%= recipe.expectedPreBoilGravity.toFixed(3) %>, assuming conversion of ~<%= recipe.water.conversionPercent %>%</li>
                          </ul>
                        <% } %>
                      </div>
                    </div>
                    <hr>
                    
                    <!-- Boil -->
                    <div class="form-row my-2">
                      <div class="col-md-12">
                        <h6>Boil</h6>
                        <ul class="text-lite">
                          <li>Boil for <%= recipe.water.boilMinutes %> minutes</li>
                          <li>Post-Boil Volume: <%= recipe.water.postBoilVolume %> L</li>
                          <li>Post-Boil Gravity: <%= recipe.expectedOriginalGravity.toFixed(3) %> </li>
                        </ul>
                      </div>
                    </div>
                    <hr>

                    <!-- Finings -->
                    <div class="form-row my-2">
                      <div class="col-md-12">
                        <h6>Finings</h6>
                        <% if(recipe.finings.length > 0) { %> 
                          <ul class="text-lite">
                            <% for(let fining of recipe.finings) { %> 
                              <li><%= fining.name %> x <%= fining.qty %> - <%= fining.usage %>   </li>
                            <% } %> 
                          </ul>
                        <% } else { %> 
                          <p class="text-lite">No finings.</p>
                        <% } %> 
                      </div>
                    </div>
                    <hr>

                    <!-- Fermentation -->
                    <div class="form-row my-2">
                      <div class="col-md-12">
                        <h6>Fermentation</h6>
                        <ul class="text-lite">
                          <% for(let stage of recipe.ferm) { %> 
                            <li><%= stage.stage %>: <%= stage.days %> days at <%= stage.temp %> C</li>
                          <% } %> 
                        </ul>
                      </div>
                    </div>
                    
                  <!-- End of card inner col -->
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>

    <!-- script to set background-color on malt SRM <td>. VS Code does not like this being done with inline styling! -->
    <%- `<script>document.querySelector('#srmDisplay').style.color = "${recipe.maltTotals.srmHex}"</script>` %>  

<%- include('../partials/footer') -%>