<%- include('../partials/header') -%>
    <div class="row">
        <div class="col-md-12 px-2 px-md-0">
            <div class="card">
                <div class="card-body">
                    <form action="/beers/<%= beer._id %>?_method=PUT" method="POST">
                        <div class="float-right">
                            <button class="btn btn-sm btn-outline-success">Save</button>
                        </div>
                        <h4>Edit Beer</h4>
                        <p class="text-lite">
                            Add a beer, then create a recipe to brew it.
                        </p>
                        <div class="form-row mt-2 mb-2">
                            <div class="col-sm-12">
                                <div class="form-group row mb-1">
                                    <label for="beerName" class="col-sm-12 recipe-label">Name</label>
                                    <div class="col-sm-12">
                                        <input type="text" id="beerName" class="form-control form-control-sm bottom-border" name="beer[name]" value="<%= beer.name %>">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group row mb-1">
                                    <label for="beerStyle" class="col-sm-12 recipe-label">Style</label>
                                    <div class="col-sm-12">
                                        <input type="text" id="beerStyle" class="form-control form-control-sm bottom-border" name="beer[style]" value="<%= beer.style %>">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group row mb-1">
                                    <label for="beerDesc" class="col-sm-12 recipe-label">Description</label>
                                    <div class="col-sm-12">
                                        <textarea id="beerDesc" class="form-control form-control-sm bottom-border"
                                            name="beer[description]" rows="3"><%= beer.description %></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') -%>