<%- include('../partials/header') -%>

<div class="row mb-2">
  <div class="col-md-12 px-2 px-md-0">
    <div class="d-flex justify-content-between flex-title-row mb-1">
      <h3 class="d-inline-block mb-0">
        Beers
      </h3>
      <a href="/beers/new" class="btn btn-outline-success btn-sm mb-1" role="button">New Beer</a>
    </div>
  </div>
</div>

<div class="row justify-content-center mb-2">
    <% for(let beer of beers) { %>
      <div class="col-12 mb-2 px-2 px-md-0">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between flex-title-row mb-1">
              <div>
                <h3 class="d-inline-block mb-0">
                  <%= beer.name %>
                </h3>
                <span class="pl-0 d-block pl-md-1 d-md-inline"><%= beer.style %></span>
              </div>
              <a role="button" class="btn btn-sm btn-outline-primary" href="/beers/<%= beer._id %>">More</a>
            </div>
            <p class="text-lite">
              <%= beer.description.substring(0, 200) %><%= beer.description.length > 200 ? "..." : "" %>
            </p>
          </div>
        </div>
      </div>
      <% } %>
  </div>
  <%- include('../partials/footer') -%>